body {
  background-color: #333;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10%;  
  position: sticky;
  width: 80%;
  top: 0;
  z-index: 1;
}



li,
a {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  color: aliceblue;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.logo {
  cursor: pointer;
}

.nav-link {
  list-style: none;
  
}

.nav-link li {
  display: inline-block;
  padding: 0px 20px;
}

.nav-link li a {
  transition: all 0.3s ease 0s;
}

.nav-link li a:hover {
  color: #347983;
}

p {
  padding: 0;
  margin: 0 30%;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  color: #f0f8ff91;
}

.image-wrapper {
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 400px auto;
  grid-gap: 10px;
  margin: 20px 248px;
  
 
  
}

.image-wrapper img{
  border-radius: 1rem;
}


h2 {
  padding: auto;
  margin: 0 auto;
  color: #347983;
  display: flex;
  justify-content: center;
  font-size: 50px;
}

.content1 {
  padding: 20px 20px;
  margin: 40px 200px;
  display: flex;
  background-color: #4f434323;
  position: relative;
  border-radius: 1rem;
 
}

.content1 p {
  padding: 0% auto;
  margin: 20% 5%;
  justify-content: space-between;
}



.content2 {
  padding: 20px 20px;
  margin: 40px 200px;
  display: flex;
  background-color: #4f434323;
  position: relative;
  border-radius: 1rem;
}

.content2 p {
  padding: 0% auto;
  margin: 20% 5%;
  justify-content: space-between;
}

.content3 {
  padding: 20px 20px;
  margin: 40px 200px;
  display: flex;
  background-color: #4f434323;
  position: relative;
  border-radius: 1rem;
}

.content3 p {
  padding: 0% auto;
  margin: 20% 5%;
  justify-content: space-between;
}

.gallery-wrapper{
  max-width: 1050px;
  display: grid;
  position: relative;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: minmax(100% auto);
  grid-gap: 10px;
  margin: 5px auto;
  
  
}

.gallery-wrapper img{
  border-radius: 1rem;
  transform: rotateZ(1.5deg);
  transition: transform .2s;
  
}

.gallery-wrapper img:hover{
  
    transform: scale(1.5); 
    -webkit-transform: scale(1.5); 
    transform: scale(1.5); 
  
}


input, textarea {
  width: 100%;
  padding: 12px; 
  border: 1px solid hsla(0, 0%, 80%, 0.561);
  border-radius: 4px; 
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px; 
  resize: vertical; 
}


input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


input[type=submit]:hover {
  background-color: #45a049;
}

.form-wrapper {
  border-radius: 5px;
  background-color: hsla(0, 8%, 29%, 0.137);
  padding: 10px auto;
  margin: 0 400px;  
}
label{
  color: hsl(0, 0%, 100%);
}


.main-footer {
  display: flex;
  padding: 8px 20px;
  background: #2b2b2b;
  color: #fff;
  align-items: center;
  justify-content: space-between;
}
